{% extends 'site_app/base.html' %}

{% block content %}
<div class="textcols detail_product">
	<div class="textcols-left ">
    <img src="{{product.img.url}}" alt="">
	</div>
	<div class="textcols-right">
		<h1 class="title_detail">{{product.title}}</h1>
    <h1 class="text_detail"> {{product.text}}</h1>
    <h3 class="text_detail">Цена: {{product.price}} фантиков</h3>
		<button type="button" class="btn btn-warning button_detail" name="button">В корзину</button>
	</div>
</div>
{% endblock content %}